.title {
    text-align: center;
    color: red;
}

.bg-primary {
    background-color: pink !important;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin-bottom: 0;
    background-image: url("../images/others/bg4.jpg") !important;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: pink;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgb(44, 44, 44);
}

.containerPig {
    border: 0.1rem solid rgb(204, 86, 86);
    border-radius: 0.4rem;
    margin-top: 3rem;
    box-shadow: 3px 3px 10px rgb(44, 44, 44);
    padding: 1rem;
    margin-bottom: 2.5rem;
}

.containerPig > h4{
    margin-bottom: 2rem;
}

.content {
    min-height: 100%;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

.no-gutters > .col {
    padding-right: 0;
    padding-left: 0;
  }

/* NAVBAR */

.navbar-icons {
    width: 1.5em;
    float: left;
    margin-right: 0.5em;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

/* HOME */
.container-home {
    padding-top: 2rem;
}

.carousel {
    box-shadow: 3px 3px 10px rgb(44, 44, 44);
}

.carousel-inner {
    width: 500px !important;
}

.carousel p {
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgb(44, 44, 44);
}

.searchengine {
    border: solid #56CC9D;
    margin-top: 40px;
    margin-bottom: 40px;
}

.newpig {
    border: 0.1rem solid rgb(204, 86, 86);
    border-radius: 0.4rem;
    margin-top: 3rem;
    box-shadow: 3px 3px 10px rgb(44, 44, 44);
    margin-bottom: 2.5rem;
}

.newpig > * {
    margin: 1rem;
}

.newpig img {
    margin: 0.3rem;
}

#pills-tab {
    border-bottom: 1px solid #56CC9D;
    background-color: rgb(253, 211, 218);
    font-weight: 500;
}

/* COCHONS */

.pagination {
    width: 100%;
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin: 0 auto;
}

.card {
    box-shadow: 2px 2px 5px rgb(44, 44, 44);
}

.container-basic {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* FOOTER */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    font-size: 1rem;
    color: chocolate;
}

/* CONTACT */

.contact-form {
    margin-top: 2rem;
}

/* ADMIN */

.navAdmin {
    border-bottom: 1px solid #56CC9D;
    background-color: rgb(253, 211, 218);
}

.navAdmin button {
    margin: 1rem;
}

.imgPicker {
    height: 7rem;
}

.validationContainer {
    color: black;
    font-style: strong;
    background-color: rgb(255, 213, 75);
    -webkit-animation-duration: 8s;animation-duration: 8s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeOut {
     0% {opacity: 1;}
     100% {opacity: 0;}
  }
  
  @keyframes fadeOut {
     0% {opacity: 1;}
     100% {opacity: 0;}
  }
  
  .fadeOut {
     -webkit-animation-name: fadeOut;
     animation-name: fadeOut;
  }

  .genealogyTree{
      margin-top: 5rem;
  }

  .genCase{
      border-radius: 1rem;
      background-color: rgb(107, 194, 159);
      height: 2rem;
      font-size: 1.2rem;
      color: rgb(48, 48, 48);
  }

  .genCase a{
    color: rgb(48, 48, 48);
}

  .genCase:hover{
    border-radius: 1rem;
    background-color: rgb(81, 185, 144);
}

  .motherLink {
      border-right: 2px solid black;
      height: 3rem;
  }

  .fatherLink {
    border-left: 2px solid black;
    height: 3rem;
}

/* TEST */

/*
.row {
    border-style: solid;
    border-radius: 1px !important;
    border-color: blueviolet !important;
}

.col {
    border-style: solid;
    border-radius: 1px !important;
    border-color: green;
}
*/
