.title {
    text-align: center;
    color: red;
}

.bg-primary {
    background-color: pink !important;
}

body {
    margin: 0;
    background-image: url("/public/images/others/bg2.jpg") !important;
    background-attachment:fixed;
}


/* NAVBAR */

.navbar {
    justify-content: center;
}

.navbar-icons {
    width: 1.5em;
    float: left;
    margin-right: 0.5em;
}

/* HOME */

.carousel-inner {
    width: 500px !important;
}

.searchengine {
    border: solid #56CC9D;
    margin-top: 40px;
    margin-bottom: 40px;
}

.newpig {
    border: solid #56CC9D;
}

/* SOCIETY */

#society-presentation {
    width: 700px;
}

#society-presentation div img {
    width: 400px;
    float: left;
}