.title {
    text-align: center;
    color: red;
}

.bg-primary {
    background-color: pink !important;
}

body {
    margin: 0;
}


/* NAVBAR */

.navbar {
    justify-content: center;
}

.navbar-icons {
    width: 1.5em;
    float: left;
    margin-right: 0.5em;
}